<blockquote class="article box">
  <div class="top-bar">
    <div class="date-wrap">
      <span class="date"><strong>{{- .Date.Format "2006" -}}</strong>.{{- .Date.Format "01.02" -}}</span>
    </div>
  </div>

  <div class="categories center">
    {{- range .Params.tags -}}    
    <a href='{{- "/tags/" | relLangURL -}}{{- . | urlize -}}/'>#{{- .  | lower -}}</a>
    {{- end -}}
  </div>

  {{/*  <blockquote>{{- .Content -}}</blockquote>  */}}
  {{- .Content -}}
</blockquote>