{{- $image := .Page.Resources.GetMatch (printf "*%s*" (.Destination)) -}}

{{- if ne $image nil -}}
{{ $images :=  .Page.Resources.ByType "image" }}
{{ $i := 0 }}
{{ range $index, $element := $images }}
	{{ if eq . $image}}
		{{  $i = add 1 $index }}
	{{- end -}}
{{- end -}}
{{ $filename := printf "%s/%s-%d.webp" .Page.RelPermalink (.Page.Title | urlize) $i }}
<figure>
	{{- if ne (partial "value-param-env.html" (slice .Page "HUGO_SKIP_IMAGES")) "true" -}}
	{{- $image = $image.Resize (printf "%dx webp" (int .Page.Site.Params.width)) | resources.Copy $filename -}}
	{{- end -}}
	<img src="{{- $image.RelPermalink -}}" class="image-full" loading="lazy" alt="{{- .Text | humanize -}}"
		height="{{ $image.Height }}px" width="{{ $image.Width }}px">
	{{- with .Title -}}
	<figcaption><small>{{- . -}}</small></figcaption>
	{{- end -}}
</figure>
{{- else -}}
<figure>
	<img src="{{- $.Destination -}}" class="image-full" loading="lazy" alt="{{- .Text | humanize -}}">
	{{- with .Title -}}
	<figcaption><small>{{- . -}}</small></figcaption>
	{{- end -}}
</figure>
{{- end -}}