<!DOCTYPE html>
<html lang='{{- .Site.Language | default "en" -}}'>

<head>
  {{- /* Title and Description */}}
  {{- partialCached "html-head-title.html" . .Page }}
  
  {{- /* Twitter (and other social media) thumbnails */}}
  {{- partialCached "html-head-twitter.html" . .Page }}

  {{- /* Translation metadata */}}
  {{- partialCached "html-head-translation.html" . .Page }}

  {{- partialCached "html-head.html" . }}
</head>

<body>
  {{- /* Microformats 2 h-card */}}
  {{- partialCached "microformats.html" . .Page }}

  <header class="main box">
    {{- /* Logo */}}
    {{- partialCached "header-logo.html" . }}

    {{- /* Social networks */}}
    {{- partialCached "header-socialnetwork.html" . }}

    {{- /* Search box */}}
    <div class="header-tools">

      {{- /* Header: Language */}}
      {{- partialCached "header-translations.html" . .Page }}

      {{- /* Header: Search box */}}
      {{- partialCached "header-search.html" . }}
    </div>
  </header>

  {{- block "main" . -}}{{- end -}}

  {{- with .Page.Params.footer_page -}}
  {{- with $.Site.GetPage . -}}
  {{- block "main" . -}}{{- end -}}
  {{- end -}}
  {{- end -}}

  {{- /* Footer */}}
  {{- partialCached "footer.html" . }}
</body>

</html>