{{- $IsInList := (ne (.Scratch.Get "contentIndex") nil) -}}
{{- $IsInListNotFirst := and $IsInList (gt (.Scratch.Get "contentIndex") 0) -}}
{{- $title := .Title -}}

<article class='h-entry article box {{ if .Params.class -}}{{ .Params.class -}}{{- end }} type-{{ .Type }}'>
  <div class="progress-bar">
    <div class="progress-bar-fill"></div>
  </div>
  {{- /* Microformats */}}
  <div class="hidden">
    <span class="p-name">{{ $title }}</span>
    <span class="u-url" href="{{- .Permalink -}}">{{- .Permalink -}}</span>
    <time class="dt-published">{{- .Date.Format "2006-01-02T15:04:05Z07" -}}</time>
    {{- with .Site.Params.Author }}
    <a rel="author" class="p-author" href='{{- "/" | absURL -}}'>{{- .name -}}</a>
    <img class="u-photo" src="{{- .avatar | absURL -}}" alt="{{- .name -}}">
    {{- end }}
  </div>
  {{/* Header: Image and date */}}
  {{- if ne .Params.no_top_bar true }}
  {{- if $IsInList -}}<a href="{{- .RelPermalink -}}">{{- end }}
      {{- /* Top Image */}}
      {{- $image_page := . -}}
      {{- if ne .Params.featured_image_page nil }}
        {{ $image_page_url := .Params.featured_image_page }}

        {{ range .Site.Sites }}
            {{ with .GetPage ($image_page_url) }}
              {{- $image_page = . -}}
            {{ end }}
        {{ end }}
      {{- end -}}
      {{ $filename := printf "%s%s-feature.webp" .Page.RelPermalink ($title | urlize) }}

      <div class="top-bar {{ if ne $image_page.Params.featured_image nil -}}image{{- end -}}">
      {{- with $image_page.Resources.GetMatch (string $image_page.Params.featured_image) -}}
      {{- $featured_image := .Fill (printf "%dx%d Center webp" (int $.Site.Params.width) (int
      $.Site.Params.topimageheight)) | resources.Copy $filename }}
      <img src="{{- $featured_image.RelPermalink -}}" {{ if eq .Params.no_featured_image true -}}class="hidden" {{- end
        -}} {{- if $IsInListNotFirst -}}loading="lazy" {{- end -}} width="100%" height="100%"
        alt="{{ $title }} feature">
      {{- end}}

      {{- if .Date -}}
      <div class="date-wrap {{ if eq .Params.no_date true -}}hidden{{- end -}}">
        <span class="date"><strong>{{- .Date.Format "2006" -}}</strong>.{{- .Date.Format "01.02" -}}</span>
      </div>
      {{- end -}}
    </div>
    {{- if $IsInList -}}
  </a>{{- end -}}
  {{- end -}}

  {{- /* Header: Title (hide in same cases) */}}
  {{- if not (or (.Params.no_title) (and (.Params.no_title_list) ($IsInList))) -}}
  <h1 class="title">
    {{- if $IsInList -}}<a href="{{- .RelPermalink -}}">{{- end -}}
      {{- $title -}}
      {{- if $IsInList -}}</a>{{- end -}}
  </h1>
  {{- end -}}

  {{- /* Header: Language */}}
  <div class="content-tools center">
    {{- /* Draft */}}
    {{- if .Draft -}}[Draft] {{- end -}}

    {{- if ne .Params.no_language true -}}
    <div class="languages languages-mini inline">
      {{- range $.AllTranslations -}}
      <a class='{{if eq .Lang $.Lang}} selected {{end}}' href='{{- .RelPermalink -}}'><img
          src="/images/languages/{{- .Lang -}}.webp" alt="{{- .Language.LanguageName -}}" width="16px"
          height="16px"></a>
      {{- end -}}
    </div>
    {{- end -}}

    {{- /* Header: Tags */}}
    {{- if .Params.tags -}}
    <div class="categories inline">
      {{- range sort .Params.tags }}
      <a href='{{- "/tags/" | relLangURL -}}{{- . | urlize -}}/' class="p-category">#{{- i18n . | lower -}}</a>
      {{- end -}}
    </div>
    {{- end -}}
  </div>

  <div class="content e-content">
    {{ .Content -}}

    {{- if .Params.youtube -}}
    {{- partial "youtube_lite.html" (dict "page" . "youtube" .Params.youtube) -}}
    {{- end -}}
  </div>

  {{- /* Gallery */}}
  {{- partialCached "gallery.html" . . -}}

  {{- /* Contact */}}
  {{- if eq .Params.contact_form true -}}
  <h2>Contact</h2>
  <form name="contact" class="contact-form width-normal" action="./" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact">
    <div>
      <label for="Name"></label>
      <input id="contact-form-name" name="Name" type="text" placeholder="Name" required="true">
    </div>
    <div>
      <label for="Email"></label>
      <input id="contact-form-email" name="Email" type="email" placeholder="Email" required="true">
    </div>
    <div>
      <label for=""></label>
      <textarea class="form-control" id="contact-form-message" name="Message" placeholder="Message" rows="8"></textarea>
    </div>
    <div>
      <button type="submit" value="Submit" id="Form-submit">Submit</button>
    </div>
  </form>
  {{- end -}}

  {{- /* Reviews and Ratings */}}
  {{- if .Params.review -}}
  {{- with .Site.GetPage .Title -}}
  {{- partialCached "ratings.html" . . -}}
  {{- end -}}
  {{- else -}}
  {{- partialCached "ratings.html" . . -}}
  {{- end -}}

  {{- /* Previous and Next pages */}}
  {{- if and (not $IsInList) (eq .Type "blog") -}}
  {{ $Prev := (where .Page.Site.RegularPages ".Type" "=" .Type).Prev . }}
  {{ $Next := (where .Page.Site.RegularPages ".Type" "=" .Type).Next . }}
  {{ if or $Prev $Next }}
  <hr>
  <div class="content-column-parent">
    {{- with $Prev }}
    <div class="content-column content-column-2"><a href="{{.RelPermalink}}">« {{.Title }}</a></div>
    {{end -}}
    {{- with $Next }}
    <div class="content-column content-column-2 align-right"><a href="{{.RelPermalink}}">{{.Title }} »</a></div>
    {{end -}}
  </div>
  {{end}}
  {{end}}
</article>

{{- if and (not $IsInList) .Params.Series }}
{{- partialCached "series.html" . .Params.Series -}}
{{- end }}

{{- /* Webmentions */}}
{{- if not $IsInList }}
{{- $url := .Permalink }}
{{- with .Site.Params.webmention_override }}
{{- $url = print . $.RelPermalink }}
<script src="/webmention.min.js" data-page-url="{{ $url }}" async></script>
<div class="article box">
  <h2>{{- i18n "Comments and Webmentions" . -}}</h2>
  <p><sub>{{- i18n "Want to comment" . -}}</sub></p>
  <div id="webmentions"></div>
</div>
{{- end }}

{{- end }}