{{- define "main" -}}

{{- $list := . -}}
{{- if .IsHome -}}
{{- $list = .Site -}}
{{- end -}}

<!-- Get all regular pages, and all languages  -->
{{- $pages := partial "reviews.html" . -}}

<div class="box box-top center">
  <table id="tableSortable" class="table-sort">
    <thead>
      <tr>
        <th>{{- i18n "Type" . -}}</th>
        <th id="table_title">{{- i18n "Title" . -}}</th>
        <th class="ratings_table_rating">{{- i18n "Rating" . -}}</th>
        <th>Metacritic</th>
        <th>Goodreads</th>
        <th>Delta</th>
      </tr>
    </thead>
    <tbody>
      {{- range (sort (sort $pages ".Title" "asc") ".Params.rating" "desc") -}}
      <tr>
        <td>
          {{- i18n .Params.media_type -}}
        </td>
        <td class="ratings_table_title">
          {{- partial "link-rating" (dict "page" . "skip_rating" true) -}}
        </td>
        <td class="ratings_table_rating left" data-sort={{ add .Params.rating 10 }}>{{- partial "rating.html" .Params.rating -}}</td>
        <td
        ><a target="blank" href="https://www.metacritic.com/{{- .Params.rating_Metacritic_url -}}">{{- .Params.rating_Metacritic
            -}}</a></td>
        <td>
          {{- if .Params.rating_Goodreads -}}
          <a target="blank" href="https://www.goodreads.com/book/show/{{- .Params.rating_Goodreads_url -}}">
            {{- lang.FormatNumber 2 .Params.rating_Goodreads -}}</a>/5
          {{- end -}}
        </td>
        {{- if or .Params.rating_Metacritic .Params.rating_Goodreads -}}
          {{- $delta := mul .Params.rating 10 -}}
          {{- if .Params.rating_Goodreads -}}
            {{- $delta = sub $delta (mul .Params.rating_Goodreads 20) -}}
          {{- end -}}
          {{- if .Params.rating_Metacritic -}}
            {{- $delta = sub $delta .Params.rating_Metacritic -}}
          {{- end -}}
          {{- $delta = div (int $delta) (float 10) -}}
          <td class="rating-delta" data-sort="{{ add (mul $delta 5) 50 }}" style="--progress: {{ add (mul $delta 5) 50 }}">
            {{- if gt $delta 0 -}}+{{- end -}}
            {{- lang.FormatNumber 1 $delta -}}
          </td>
        {{- else -}}
          <td></td>
        {{- end -}}
      </tr>
      {{- end -}}
    </tbody>
  </table>
</div>

<!-- JS required -->

<script src="https://cdn.jsdelivr.net/npm/tablesort@5.3.0/src/tablesort.min.js" integrity="sha256-g/0L7+UoDLhF7ELTGNZLVznBwQolJeKc5zBD6D6mIkI=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablesort@5.3.0/tablesort.min.css" integrity="sha256-RHMyi841xcLjls2rlnYs1cSt05qXXFlkcN4Rp/LLOPk=" crossorigin="anonymous">

<script nonce="jK8wLx7yGp5mT9nV4cE6qA2zBh3sDfR">
  new Tablesort(document.getElementById('tableSortable'));
</script>
{{- end -}}