{{- define "main" -}}

<div id="search-results" class="box"></div>
<div class="search-loading box">{{- i18n "Loading" . -}}...</div>

<script id="search-result-template" type="text/x-js-template" nonce="yUv9sT2qEyxNxTFBjiZ5mcC3yEDQaD">
<div id="summary-${key}" class="article">
  <div class="center">
    <h1 class="title"><a href="${link}">${title}</a></h1>
    <div class="categories inline">${ isset tags }${tags}<br>${ end }</div>
  </div>
  <div>${snippet}</div>
  <hr>
</div>
</script>

<!-- https://www.jsdelivr.com/package/npm/fuse.js -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js" integrity="sha256-42IbU8t3tOwwbexB7ZVRHm3YDRf65aBPPjRtIUufj5I=" crossorigin="anonymous"></script>

<!-- https://www.jsdelivr.com/package/npm/mark.js -->
<script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js" integrity="sha256-IdYuEFP3WJ/mNlzM18Y20Xgav3h5pgXYzl8fW4GnuPo=" crossorigin="anonymous"></script>

{{- end -}}