:root {
  --color-background-light: #239fd922;
  --color-background: #f5f5f5;
  --box-border-color: var(--color-main-01);
  --color-font: var(--gray-dark-2);
  --color-light: var(--color-main-02);
  --color-main-01: var(--blue-original);
  --color-main-02: var(--teal);
  --color-main-03: var(--gold);
  --color-main-04: var(--indigo);
  --color-shadow-language: var(--color-main-03);
  --color-shadowbox: var(--gray-dark-1);
  --color-table-odd: #eee;
  --color-title-font: var(--color-main-02);
  --color-title-shadow: var(--color-font);
  --color-title-shadow: var(--color-main-01);
  ---max-width: 930px;
  ---title-height: 350;
  ---article-padding: 2em;
  ---box-border: 4px;
  ---box-border-radius: 8px;
  ---line-height: 1.75em;
  ---capital-letter: 2;

  --background-gradient: radial-gradient(circle farthest-corner at 5% 95%,
      var(--color-main-04) -10%,
      var(--color-main-01) 20%,
      var(--color-main-01) 30%,
      var(--teal-dark) 60%,
      var(--color-main-03) 95%);
  --background-gradient-1: linear-gradient(45deg,
      var(--color-main-04) -20%,
      var(--color-main-01) 47%,
      var(--color-main-02) 57%,
      var(--color-main-02) 75%,
      var(--color-main-03) 78%);
  --background-gradient-2: radial-gradient(circle farthest-corner at 32% 90%,
      var(--color-main-04) -30%,
      var(--color-main-01) 35%,
      var(--teal-dark) 55%,
      transparent 82%),
    linear-gradient(135deg, var(--color-main-01) 12%, var(--color-main-03) 58%);

  --blue-original: #1c5a90;
  --gold: #ffaa00;
  --gray-dark-1: #3d4349;
  --gray-dark-2: #202225;
  --indigo: #6610f2;
  --mastodon: #282c37;
  --teal-dark: #005f62;
  --teal: #007c80;
}

/***** HTML */
* {
  hyphens: auto;
  font-kerning: normal;
}

html {
  background: var(--color-font);
  font-family: PTSerif, serif;
  font-size: 16px;
}

body {
  font-size: 1.1em;
  line-height: var(---line-height);
  color: var(--color-font);
  margin: 0;
  max-width: var(---max-width);
  margin: 0 auto;
}

.content b,
.content strong {
  font-variant: small-caps;
  color: var(--color-main-02);
}

em {
  background: linear-gradient(transparent 0%, var(--color-light) 1050%);
  color: var(--color-main-02);
}

p {
  margin-bottom: 1.5em;
}

pre {
  overflow-x: scroll;
}

a {
  color: var(--color-main-01);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-title-font);
  font-variant: small-caps;
  text-shadow: 0px 1px 0 var(--color-title-shadow);
  hyphens: manual;
  text-align: left;
  letter-spacing: 0.05em;
}

h1 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  font-weight: bold;
  hyphens: manual;
}

img {
  margin: 0;
}

.content>p:first-of-type:first-letter {
  display: block;
  float: left;
  color: var(--color-main-01);
  font-size: calc(var(---line-height) * var(---capital-letter) * 1.25);
}

code {
  /* font-family: monospace; */
  /* color: var(--color-background); */
  /* background-color: var(--color-font); */
  padding: 2px;
  /* font-weight: bold; */
}

/***** Forms */

button,
.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--color-main-01);
  color: var(--color-background);
  border: 1px solid var(--color-main-02);
  padding: 0;
}

.button:hover {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
}

button,
input,
textarea {
  border: 1px solid var(--color-main-01);
  min-width: 46px;
  min-height: 46px;
}

#search-query {
  width: 7em;
}

/***** Lists */
.list-short {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 1%;
}

.type-short .content {
  position: relative;
  padding-bottom: calc(100% * 16 / 9);
  height: 0;
  overflow: hidden;
}

/***** Header */
header.box {
  background: var(--background-gradient);
  background-size: 100%;
  padding-bottom: 0;
  background-repeat: no-repeat;
}

header>div {
  padding-bottom: 0.5em;
}

#logo {
  text-transform: uppercase;
  height: calc((min(100vw, var(---max-width))) * (var(---title-height) / 1000));
}

#logo img {
  width: calc(100% - 2em);
  padding: -1em 1em;
}

#logo a,
.title a,
.title,
h1 {
  color: var(--color-title-font);
}

#logo .logo-letters {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

#logo .bold {
  font-weight: bold;
}

#logo .not-bold {
  font-weight: bolder;
}

#logo .letter-highlight:hover {
  color: var(--color-background) !important;
  background-color: var(--color-main-01) !important;
}

#logo .letter-highlight {
  text-decoration: none;
  color: var(--color-main-01);
  background-color: var(--color-background);
  transition: 0.5s;
  border-radius: 50%;
}

#logo .letter {
  font-size: calc(min(20vw, calc(968px / 5)) * 1);
  aspect-ratio: 1;
  align-items: center;
  display: grid;
  font-family: montserrat, sans-serif;
}

.top-bar {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 2em;
  margin: auto calc(-1 * var(---article-padding));
  background: radial-gradient(at 50% 90%, var(--color-main-02), var(--color-main-01));
}

.top-bar.image {
  height: 41vw;
  max-height: 350px;
}

.top-bar.image img {
  object-fit: cover;
}

.date-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.date {
  padding: 0.5em;
  color: var(--color-background);
  background-color: var(--color-main-01);
  font-size: 1.25em;
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding: 0.5em 0em;
}

.header-tools {
  text-align: center;
}

.inline {
  display: inline;
}

.languages-mini a {
  margin-right: 0.75em;
}

.languages .selected img {
  box-shadow: 0 5px 5px var(--color-shadow-language);
  border-radius: 50%;
}

.mini-bar {
  height: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.color1 {
  background-color: var(--color-main-01);
}

.color2 {
  background-color: var(--color-main-02);
}

.color3 {
  background-color: var(--color-main-03);
}

/***** Content */
.box {
  box-shadow: 0 5px 5px var(--color-shadowbox);
  background: var(--color-background);
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: var(--box-border-color) solid var(---box-border);
  border-radius: var(---box-border-radius);
}

.box-top {
  padding-top: 1em;
}

.article {
  padding: 0 var(---article-padding);
  text-align: justify;
  overflow-x: hidden;
}

.no_padding,
.article.no_padding {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .article {
    padding: 0 1em;
  }
}

.content {
  overflow-y: hidden;
}

.content a {
  font-weight: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.article .categories {
  font-weight: 700;
}

blockquote,
q {
  quotes: none;
  background: none;
  font-style: normal;
  border-left: 10px solid var(--box-border-color);
  padding-left: 1em;
  margin-left: 1em;
}

blockquote.article {
  margin-left: 0;
  margin-right: 0;
}

.article figure,
.article figure>img {
  margin: 0;
}

.pagination {
  padding: 0;
}

.pagination li {
  display: inline-block;
  list-style: none;
  margin: 0 0.25em;
  width: 1em;
}

.image-full {
  width: min(var(---max-width), 100%);
}

img.image-full {
  height: 100% !important;
}

figure.image-icon,
figure.image-icon img {
  width: 80px;
  display: inline-block;
}

figure.image-icon-line,
figure.image-icon-line img {
  width: 1em;
  display: inline-block;
}

figure.image-icon-text {
  width: 1em;
  display: inline-block;
}

figure.image-icon-inline,
figure.image-icon-inline img {
  width: 50px;
  height: 50px;
  display: inline;
}

.content-center {
  text-align: center;
}

/***** Footer */
#footer {
  overflow: auto;
  text-align: center;
}

.content-column-parent {
  display: table;
  width: 100%;
}

.content-column {
  padding: 0 1%;
  display: table-cell;
}

.content-column-1-5 {
  width: calc(100% / 1.5);
}

.content-column-2 {
  width: calc(100% / 2);
}

.content-column-3 {
  width: calc(100% / 3);
}

.content-column-4 {
  width: calc(100% / 4);
}

@media only screen and (max-width: 600px) {
  .content-column {
    padding: inherit;
    display: block;
  }

  .content-column-3 {
    width: inherit;
  }
}

#footer li,
#footer ul {
  list-style: none;
  padding: 0;
}

.franchise,
.subtitle {
  font-size: xx-small;
  vertical-align: super;
}

.media-author {
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .column-border {
    border-bottom: var(--color-shadowbox) solid 2px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: calc(max(250px, 100%));
  background-color: var(--color-font);
  color: var(--color-background);
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-shadowbox) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/***** Tables */
.table_sortable thead th.desc:after {
  content: "↑";
}

.table_sortable thead th.asc:after {
  content: "↓";
}

.ratings_table_title {
  text-align: left;
  width: 20em;
}

.ratings_table_rating {
  width: 10em;
}

.rating-delta {
  background-color: hsl(calc(var(--progress) * 1.2), 100%, 50%);
}

table {
  border: 0;
}

table th {
  background-color: var(--color-main-01);
  color: var(--color-background);
}

/***** Ratings */
.table_sortable thead th:hover {
  cursor: pointer;
}

.rating {
  font-weight: bold;
}

.rating-star {
  text-shadow: 1px 1px #aaa;
}

.rating-0 {
  color: rgb(255, 0, 0);
}

.rating-1 {
  color: rgb(255, 24, 0);
}

.rating-2 {
  color: rgb(255, 48, 0);
}

.rating-3 {
  color: rgb(255, 72, 0);
}

.rating-4 {
  color: rgb(255, 96, 0);
}

.rating-5 {
  color: rgb(255, 120, 0);
}

.rating-6 {
  color: rgb(255, 144, 0);
}

.rating-7 {
  color: rgb(255, 168, 0);
}

.rating-8 {
  color: rgb(255, 192, 0);
}

.rating-9 {
  color: rgb(255, 216, 0);
}

.rating-10 {
  color: rgb(255, 240, 0);
}

.rating-star-first {
  font-size: 1.25em;
  text-shadow: 1px 1px var(--color-font);
}

tr:nth-child(odd) {
  background-color: var(--color-table-odd);
}

#tableSortable {
  width: 100%;
}

/***** Other */
.align-right {
  text-align: right;
}

.youtube_lite {
  width: 100%;
  height: calc(max(100% * 9/16, 333px));
  margin: auto;
}

.type-short .youtube_lite {
  height: calc(max(100% * 16/9, 333px));
}

.type-short lite-youtube,
.youtube-vertical lite-youtube {
  padding-bottom: calc(100% * 16 / 9);
}

.type-photos figure,
.type-photos .gallery img {
  text-align: center;
}

.type-photos.article {
  background-color: var(--color-font);
  color: var(--color-background);
}

.backgroundcolorlight {
  background-color: var(--color-background-light);
}

.hidden {
  display: none !important;
}

.page-item.active a {
  font-weight: bolder;
  color: var(--color-font);
}

.page-item.disabled a {
  color: var(--color-font);
}

.hide-if-empty:empty {
  display: none;
}

#webmentions img {
  width: 2em;
  height: 2em;
}

/* #webmentions a:not(:first-of-type) {
  color: transparent;
} */

#webmentions ul {
  list-style: none;
  padding: 0;
}

.socialnetwork-icon {
  filter: brightness(0) invert(1);
}

.highlight pre code {
  display: block;
}

.progress-bar {
  position: fixed;
  top: 0;
  margin-left: calc(var(---article-padding)*-1);
  max-width: var(---max-width);
  width: 100%;
  height: var(---box-border);;
  background-color: var(--color-font);
  border-radius: var(---box-border-radius);
  visibility: hidden;
}

.progress-bar-fill {
  border-top: var(--color-main-03) solid var(---box-border);
  border-radius: var(---box-border-radius);
  height: var(---box-border);;
  transition: width 0.3s;
}