<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<div id="comment-section"></div>

<script nonce="yUv9sT2qEyxNxTFBjiZ5mcC3yEDQaD">
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "{{- $.Site.Params.cactus_chat -}}",
    commentSectionId: '{{- .Scratch.Get "chatroom" -}}'
  })
</script>