<div id="footer" class="box content-column-parent">
  {{- /* Tags */}}
  <div class="content-column content-column-3">
    <div class="title">Tags</div>
    <ul>
      {{- range $taxonomyname, $taxonomy := .Site.Taxonomies.tags -}}
      <li><a href='{{- "/tags/" | relLangURL -}}{{- $taxonomyname -}}/'>#{{- ((i18n $taxonomyname) | default $taxonomyname) | lower -}}</a></li>
      {{- end -}}
    </ul>
  </div>

  {{- /* Ratings */}}
  <div class="content-column content-column-3">
    <div class="title">{{- i18n "Ratings" . -}}</div>
    <ul>
      <li><a href='{{- "/ratings" | relLangURL}}/'>{{- i18n "All" . -}}</a></li>
      {{- range .Site.Taxonomies.rating.Alphabetical.Reverse -}}
      {{- if eq .Name "10" -}}
      <li>{{- partial "rating.html" .Name -}}</li>
      {{- end -}}
      {{- end -}}
  
      {{- range .Site.Taxonomies.rating.Alphabetical.Reverse -}}
      {{- if and (ne .Name "10") (ne .Name "0") -}}
      <li>{{- partial "rating.html" .Name }}</li>
      {{- end -}}
      {{- end -}}
    </ul>
  </div>

  {{- /* Fixed Pages */}}
  <div class="content-column content-column-3">
    <div class="title">{{- i18n "Pages" . -}}</div>
    <ul>
      {{- range sort (where .Site.Pages ".Params.menu_main" "<>" nil) ".Params.menu_main" -}}
        <li><a href="{{- .RelPermalink -}}">{{- .Name -}}</a></li>
        {{- end -}}
    </ul>
  </div>
</div>

{{- /* Scripts */}}
{{- $js_search := resources.Get "js/search.js" | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{- $js_search.RelPermalink -}}" integrity="{{- $js_search.Data.Integrity -}}"
  loading="lazy"></script>
{{- $js_progress := resources.Get "js/article-progress.js" | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{- $js_progress.RelPermalink -}}" integrity="{{- $js_progress.Data.Integrity -}}"
  loading="lazy"></script>

{{ with $.Site.Params.logo_footer }}
{{- $logo := resources.Get (. | default "images/logo_footer.png") -}}
<div class="center">
  <a href='{{- "/" | relLangURL -}}'>
    <img src="{{ $logo.Permalink }}" alt="{{- $.Site.Title -}}" width="50%" height="100%">
  </a>
</div>
{{ end }}