{{ $title := (.Page.Title | urlize) }}
{{ $path := .Page.RelPermalink }}

{{- $HUGO_SKIP_GALLERY_DATE := (partial "value-param-env.html" (slice $ "HUGO_SKIP_GALLERY_DATE")) -}}
{{- $pageDate := $.Page.Date.Format "2006-01-02" -}}

{{- $shouldProcessImages := false -}}

{{ with $HUGO_SKIP_GALLERY_DATE }}
  {{- if or (eq $HUGO_SKIP_GALLERY_DATE "") (le $HUGO_SKIP_GALLERY_DATE $pageDate) -}}
    {{- $shouldProcessImages = true -}}
  {{- end -}}
{{ else }}
  {{- $shouldProcessImages = true -}}
{{ end }}

{{- $images := .Resources.Match "gallery/*" -}}

{{- with $images -}}

  {{- $images_per_gallery := 30 -}}

  {{- $columns := 3 -}}
  {{- with ($.Page.Params.gallery_columns) -}}
    {{- $columns = . -}}
  {{- end -}}

  {{- $size := (div (int $.Site.Params.width) $columns) -}}
<div class="gallery center">
  {{ range $index, $image := . -}}

    {{ $image2 := . }}
    {{ $i := 0 }}
    {{ range $index, $element := $images }}
      {{ if eq . $image2}}
        {{ $i = add 1 $index }}
      {{- end -}}
    {{- end -}}
    
    {{ $filename      := printf "%s%s-gallery-%d.webp" $path $title $i }}
    {{ $filename_mini := printf "%s%s-gallery-mini-%d.webp" $path $title $i }}

    <!-- Each 60 pictures, put them into a single div -->
    {{- if and (gt $index 0) (eq (mod $index $images_per_gallery) 0) -}}
</div>
<div class="gallery center">
    {{- end -}}

    <!-- if the gallery is set "Resize", just try to fit the image width and 
      preserve the proportion. Otherwise, make a square thumbnail -->
    {{- $image_mini := $image -}}
    {{- $image_full := $image -}}

    {{- if $shouldProcessImages -}}
      <!-- convert the full image to optimized format -->
      {{- $image_full = ($image.Fill (printf "%dx%d webp" $image.Width $image.Height)) | resources.Copy $filename -}}

      {{- if eq ($.Page.Params.gallery_resize) true -}}
        {{- $image_mini = ($image.Resize (printf "%dx webp" $size)) | resources.Copy $filename_mini -}}
      {{- else -}}
        {{- $image_mini = ($image.Fill (printf "%dx%d webp" $size $size)) | resources.Copy $filename_mini -}}
      {{- end -}}
    {{- end -}}

  <a href="{{- $image_full.RelPermalink -}}">
    <img src="{{- $image_mini.RelPermalink -}}" loading="lazy" alt="{{- $.Page.Title | humanize -}} {{- $index -}}">
  </a>
  {{- end -}}
</div>
{{- end -}}