<div class="inline">
  <form class="search inline" action='{{- "/search" | relLangURL -}}' method="GET">
    <input type="search" name="q" id="search-query" placeholder='{{- i18n "Search" . -}}....'><button
      type="submit">🔍</button>
  </form>
</div>