{{- /* top coior bar */}}
<div class="mini-bar">
  <div class="color1"></div>
  <div class="color2"></div>
  <div class="color3"></div>
</div>

<div id="logo" class="center title">
  <a href='{{- "/" | relLangURL -}}'>
    {{- $logo := resources.Get ($.Site.Params.logo | default "images/logo.png") -}}
    <img src="{{- $logo.RelPermalink -}}" alt="{{- .Site.Title -}}" width="100%"
      aspect-ratio="{{div $logo.Height (mul 1.0 $logo.Width) }}">
  </a>
</div>