<div class="header-tools center">
  <div class="socialnetwork inline">
    {{- range .Site.Params.socialnetworks -}}
    <a rel="me" href="{{- .url -}}" class="link-{{- .name }} {{- if not .homepage }} hidden{{end}}" target="_blank">
      {{- if .homepage }}
      <img src="/images/social/{{- .name -}}.svg" alt="{{- .name -}}" width="32px" height="32px"
        class="socialnetwork-icon">
      {{- end -}}
    </a>
    {{- end -}}
  </div>
</div>