<div class="languages inline">
  {{- range $.Site.Home.AllTranslations -}}
  {{ $lang := . }}
  {{- range $.Page.AllTranslations}}
  {{- if eq .Lang $lang.Lang }}
  {{- $lang = . }}
  {{- end}}
  {{- end}}
  <a class=' {{if eq $lang.Lang $.Lang}} selected {{end}}' href='{{- $lang.RelPermalink -}}'><img
      src="/images/languages/{{- $lang.Lang -}}.webp" alt="{{- $lang.Language.LanguageName -}}" width="32px"
      height="32px"></a>
  {{- end -}}
</div>