{{ $cardcard        := "summary" }}
{{ $cardtitle       := .Site.Title }}
{{ $cardDescription := .Site.Params.description }}
{{ $cardimage       := index .Site.Params.images 0 | absURL }}
{{ if .IsPage }}
  {{ $cardtitle = .Title }}
  {{ with .Description }}{{ $cardDescription = . }}{{ else }}{{ $cardDescription = .Summary }}{{ end }}
  {{ with .Params.featured_image }}
    {{ $cardcard  = "summary_large_image" }}
    {{ $cardimage = printf "%s%s-feature.webp" $.Permalink ($.Title | urlize) }}
  {{ end }}
{{ end }}
<meta name="twitter:card" content="{{ $cardcard }}">
<meta name="twitter:title" content="{{ $cardtitle }}">
<meta name="twitter:description" content="{{ $cardDescription }}">
<meta name="twitter:image" content="{{ $cardimage }}">