<title>{{- if and (.Title) -}}{{- .Title }} | {{ end -}}{{ .Site.Title -}}</title>
<meta charset="utf-8">
{{- if .Description }}
<meta name="description" content="{{- .Description -}}">
{{- else }}
{{- $language := index $.Site.Params.languages $.Site.Language }}
{{- if $language.description }}
<meta name="description" content="{{- $language.description -}}">
{{- else if .Site.Params.description }}
<meta name="description" content="{{- .Site.Params.description -}}">
{{- end -}}
{{- end }}