<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{- .Permalink -}}">

{{ template "_internal/google_analytics.html" . }}

{{- /* IndieAuth GPG and Webmentions */}}
<link rel="pgpkey" href="/gpg_pub.txt">
<link rel="webmention" href="https://webmention.io/www.brunomassa.com/webmention" />
<link rel="pingback" href="https://webmention.io/www.brunomassa.com/xmlrpc" />

{{- /* Style */}}
{{- partialCached "csp.html" . }}
{{- template "_internal/schema.html" . }}
{{- template "_internal/opengraph.html" . }}

{{- $css := resources.Get "css/style.css" | resources.Fingerprint "sha256" -}}
{{- $css_syntax := resources.Get "css/syntax.css" | resources.Fingerprint "sha256" -}}
{{- $font := resources.Get "css/PTSerif-Regular.woff2" | resources.Fingerprint "sha512" -}}
{{- $font2 := resources.Get "css/SellYourSoul.woff2" | resources.Fingerprint "sha512" -}}

{{- /* Style */}}
<link rel="stylesheet" href="{{- $css.RelPermalink -}}" integrity="{{- $css.Data.Integrity -}}">
<link rel="stylesheet" href="{{- $css_syntax.RelPermalink -}}" integrity="{{- $css_syntax.Data.Integrity -}}">
<link href="{{- $font.RelPermalink -}}" as="font" type="font/ttf" crossorigin="anonymous"
  integrity="{{- $font.Data.Integrity -}}">
<style nonce="yUv9sT2qEyxNxTFBjiZ5mcC3yEDQaD">
  @font-face {
    font-family: "PTSerif";
    font-display: swap;
    src: local("PTSerif"),
    url("{{- $font.RelPermalink -}}");
  }

  @font-face {
    font-family: "SellYourSoul";
    font-display: swap;
    src: local("SellYourSoul"),
    url("{{- $font2.RelPermalink -}}");
  }
</style>

{{- /* Favicons */}}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta name="msapplication-TileColor" content="#0d59ad">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="/site.webmanifest" type="application/manifest+json">

<link rel="alternate" type="application/rss+xml" href='{{- "/index.xml" | relLangURL -}}' title="{{- .Site.Title -}}">
