<b>
  {{- $Title := .page.Title }}
  {{- if .page.Params.media_title -}}
    {{- $Title = .page.Params.media_title -}}
  {{- end -}}

  <span class="tooltip">
    {{- if eq .page.Section "blog" -}}<a href="{{- .page.Permalink  -}}">{{- end -}}
    {{- $Title -}}
    {{- if eq .page.Section "blog" -}}</a>{{- end -}}

    {{- if or (isset .page.Params "media_SubTitle") (isset .page.Params "franchise") -}}
    <span class="tooltiptext">
      {{- $Title -}}
      {{- if isset .page.Params "media_SubTitle" }}: {{ .page.Params.media_SubTitle -}}{{- end -}}
      {{- if isset .page.Params "media_Franchise" }} ({{ .page.Params.media_Franchise -}}){{- end -}}
    </span>{{- end -}}
  </span>
    {{- if isset .page.Params "media_Author" }} (<span class="media-author">{{- .page.Params.media_Author -}}</span>){{- end -}}

  {{- if and .page.Params.rating (ne .skip_rating true) }} ({{- partial "rating.html" .page.Params.rating -}}){{- end -}}
</b>