<blockquote class="article box"><h1>{{- i18n .page.Title | default .page.Title -}}</h1></blockquote>

{{- if .Content -}}
<article class="article box">
  <div class="content">
    {{- .page.Content -}}
  </div>
</article>
{{- end -}}

{{ $pages := where .page.RegularPages "Type" "not in" (slice "page") }}

{{- partial "list.html" (dict "page" .page "pages" $pages "pagination" .page.Params.pagination "class" .page.Page.Type) -}}
