{{ $pagination := .pagination }}
{{ if eq .pagination nil }}{{ $pagination = 5 }}{{ end }}
<div class='list list-{{ .class }}'>
{{- $paginator := .page.Paginate .pages $pagination -}}
{{- range $index, $page := $paginator.Pages -}}
  {{- .Scratch.Set "contentIndex" $index -}}
  {{- $page.Render "content" -}}
  {{- .Scratch.Delete "contentIndex" -}}
{{- end -}}
</div>

<!-- show paginator if relevant -->
{{- if gt $paginator.TotalPages 1 -}}
<div class="box box-top center">
  {{- template "_internal/pagination.html" . -}}
</div>
{{- end -}}
