<div class="h-card hidden">
  <a href='{{- "/" | absURL -}}' class="p-name p-org u-url" rel="me">{{ .Site.Title -}}</a>

  {{- if not .Page.Params.featured_image -}}
  {{- with .Site.Params.Author }}
  <img class="u-photo" src="{{- .avatar | absURL -}}" alt="{{- .name -}}">
  {{- end }}
  {{- else -}}
  {{- $filename := printf "%s%s-feature.webp" .Page.RelPermalink (.Page.Title | urlize) -}}
  <img class="u-photo" src="{{- $filename -}}" alt="{{- $filename -}}">
  {{- end }}
  <p class="p-note">{{- .Site.Params.Description -}}</a>
</div>