{{- $rating := (int .) -}}
<span class="rating"><a href='{{- "/" | relLangURL -}}rating/{{- . | urlize -}}/'>
  {{- if gt . 0 -}}
  {{- . -}}
  {{- else -}}
  -
  {{- end -}}

  <span class="rating-star rating-{{- $rating }}">
  {{- range $num := (seq $rating) -}}
    {{- $classlast := "rating-star-other" -}}
    {{- if eq $num 1 -}}
    {{- $classlast = "rating-star-first" -}}
    {{- else if eq $num $rating -}}
    {{- $classlast = "rating-star-last" -}}
    {{- end -}}
    ★
  {{- end -}}
</span></a></span>