
    {{- if .Params.rating -}}
    <div>
      <a href="{{- "/" | relLangURL -}}rating/{{- .Params.rating | urlize -}}/">{{- i18n "My Rating" . -}}: {{ partial "rating.html" .Params.rating}} </a>
    </div>
    {{- end -}}

    {{- if and .Params.rating_Metacritic .Params.rating_Metacritic_url -}}
    <div>
      <a href="https://www.rating_Metacritic.com/{{- .Params.rating_Metacritic_url -}}">Metacritic: <b>{{- .Params.rating_Metacritic
          -}}</b></a>
    </div>
    {{- end -}}

    {{- if and .Params.rating_Goodreads .Params.rating_Goodreads_url -}}
    <div>
      <a href="https://www.rating_Goodreads.com/book/show/{{- .Params.rating_Goodreads_url -}}">Goodreads: <b>{{
          .Params.rating_Goodreads -}}</b></a>
    </div>
    {{- end -}}

    {{- if and .Params.rating_RottenTomatoes .Params.rating_RottenTomatoes_url -}}
    <div>
      <a href="https://www.rating_RottenTomatoes.com/{{- .Params.rating_RottenTomatoes_url -}}">Rotten Tomatoes: <b>{{
          .Params.rating_RottenTomatoes -}}</b></a>
    </div>
    {{- end -}}