{{- $pages := (where .Page.Site.RegularPages ".Params.Series" "=" .Params.Series) }}
{{- if gt (len $pages) 1 -}}
{{- $year := "" -}}

<div class='article box'>
  <h2>Series: <i>{{- .Params.Series -}}</i></h2>

  {{- if .Params.SeriesYears -}}
  <table class="content-column-parent">
    <thead>
      <tr>
        <th>Year</th>
        <th>Post</th>
      </tr>
    </thead>
    <tbody>
    {{- range $pages }}
      {{- if ne $year (.Date.Format "2006") }}
        {{- $year = .Date.Format "2006" -}}
        {{- $rowspan := len (where $pages ".Date.Year" "eq" ($year  | int)) -}}
        <tr>
          <td rowspan='{{ $rowspan }}'>{{ $year }}</td>
          <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        </tr>
      {{- else }}
        <tr>
          <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        </tr>
      {{- end }}
    {{- end }}
    </tbody>
  </table>
{{- else -}}
  <table class="content-column-parent">
    {{- range $pages }}
    <tr><td>
      {{- if .Params.SeriesYears -}}{{- .Date.Format "2006" -}}{{- end -}} <a href="{{.RelPermalink}}">{{.Title }}</a>
    </td></tr>
    {{- end }}
  </table>
{{- end -}}
</div>

{{- end -}}