<script type="module" src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.css" type="text/css">
<div class="youtube_lite">
  <lite-youtube videoid="{{- .youtube -}}"></lite-youtube>
</div>
