<script type="module" src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.css" type="text/css">
{{ $id := .Get 0 }}
{{ $autoplay := "" }}
{{ $class := "" }}
{{ if .IsNamedParams }}
  {{ $autoplay = .Get "autoplay" }}
  {{ $id = .Get "id" }}
  {{ $class = .Get "class" }}
{{ end }}
<div class="youtube_lite {{ $class -}}">
  <lite-youtube videoid="{{- $id -}}" videotitle="{{- $id -}}" 
  {{ if ne $autoplay "" -}}
    autoload params="autoplay=1"
  {{- end -}}>
</div>
